{% extends "layout.html" %}
{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('static/img/location-bg.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1>Contact</h1>
					<span class="subheading">+12 345 6789</span>
					<span class="subheading">54321 Random St</span>
					<span class="subheading">
						<a href="#" class="fa fa-instagram"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Footer -->
<footer>
	<div class="container">
		<p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
	</div>
</footer>
{% endblock %}